* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    background-color: #ff9a4b;
    height: 50px;
}

body {
    display: block;
}

main {
    width: 960px;
    display: flex;
    margin: 50px auto;
}

.steps {
    margin-right: 30px;
    padding: 10px;
    background-color: #EEEEEE;
    width: 300px;
    position: relative;
    display: inline-block;
    text-align: left;
}

.steps:last-child {
    margin-right: 0;
}

.step-number {
    background-color: #FF9A4B;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.step1-image,.step2-image,.step3-image {
    height: 150px;
    background-size: cover;
    background-position: bottom;
}

.step1-image {
    background-image: url("./img/flow01.png");
}

.step2-image {
    background-image: url("./img/flow02.png");
}

.step3-image {
    background-image: url("./img/flow03.png");
}

.title {
    margin-top: 15px;
    margin-bottom: 5px;
}

.footer-style {
    background-color: #aaa;
    height: 50px;
}